.contenteditable-wrapper {
  margin-right: 30px;
  margin-left: 30px;
}
.contenteditable {
  border: 1px solid black;
  padding: 15px;
  background-color: white;

}

.focused {
  background-color: floralwhite;
}

.toolbar {
  button {
    min-width: 15px !important;
  }
}